body {
  color: #000;
  font: 12px/1.5 arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #6c6c6c;
}

a:hover {
  color: red;
}

input {
  border: none;
}

button {
  border: none;
}

li {
  list-style: none;
  display: inline-block;
}

.header {
  width: 100%;
  height: auto;
}

.h_login {
  width: 100%;
  height: 28px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}

.wrap {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  line-height: 28px;
  overflow: hidden;
  color: #6c6c6c;
}

.login_l {
  float: left;
}

.header_top_left {
  float: left;
}

.welcome,
.login_l a {
  margin-right: 20px;
}

.address_wrap {
  display: inline-block;
  position: relative;
  border-right: #f2f2f2 solid 1px;
  border-left: #f2f2f2 solid 1px;
  color: #6c6c6c;
}

.address {
  display: inline-block;
  padding: 0 18px;
  box-sizing: border-box;
}

.address s {
  position: absolute;
  background-image: url('../img/header_newicon1.png');
  width: 11px;
  height: 3px;
  overflow: hidden;
  right: 1px;
  top: 11px;
  z-index: 1;
}

.address_detail {
  position: absolute;
  left: 0px;
  top: 28px;
  z-index: 9;
  width: 470px;
  height: auto;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .2);
}

.address_detail ul>li {
  display: inline-block;
  padding: 10px;
  color: red;
  font-size: 12px;
}

.address:hover {
  background-color: white;
}

.address:hover s {
  transform: rotateX(180deg);
}

.address:hover .address_detail {}

.login_r {
  float: right;
}

.login_r li {
  display: inline-block;
  position: relative;
  padding: 0px 18px;
  box-sizing: border-box;
}

.login_r li a {
  display: inline-block;
}

.login_r .save {
  position: absolute;
  background-image: url('../img/header_sprites1.png');
  width: 11px;
  height: 12px;
  overflow: hidden;
  left: 6px;
  top: 11px;
  overflow: hidden;
}

.login_r .my {
  position: absolute;
  background-image: url('../img/header_newicon1.png');
  width: 11px;
  height: 3px;
  overflow: hidden;
  right: 3px;
  top: 11px;
  overflow: hidden;
}

.login_r .phone {
  position: absolute;
  background-image: url('../img/header_sprites1.png');
  background-position: 0px -20px;
  width: 10px;
  height: 14px;
  overflow: hidden;
  left: 6px;
  top: 6px;
  overflow: hidden;
}

.login_r .praise {
  position: absolute;
  background-image: url('../img/header_sprites1.png');
  background-position: 0px -44px;
  width: 11px;
  height: 18px;
  overflow: hidden;
  left: 6px;
  top: 6px;
}

.login_r .more {
  position: absolute;
  background-image: url('../img/header_newicon1.png');
  width: 11px;
  height: 3px;
  overflow: hidden;
  right: 3px;
  top: 11px;
}

.login_r .line_l {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 1px;
  height: 18px;
  background-color: #ddd;
}

.login_r .line_r {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 1px;
  height: 18px;
  background-color: #ddd;
}

.h_search {

  width: 100%;
  height: 110px;
  color: #6c6c6c;
  clear: both;
  box-sizing: border-box;
  position: relative;

}

.search_img {
  float: left;
}

.search_img a {
  display: block;
  width: 165px;
  height: 85px;
  background: url('../img/logo_new_v1.jpg') no-repeat;
}

.search_input {
  float: left;
  width: 536px;
  margin-left: 100px;
}

.search_input form {
  margin-top: 20px;
}

.search_input input {
  float: left;
  border: 2px solid #ed145b;
  width: 436px;
  height: 38px;
  box-sizing: border-box;
}

.search_input button {
  float: left;
  background-color: #ed145b;
  width: 100px;
  height: 38px;
  box-sizing: border-box;
  color: white;
}

.search_input ul {
  list-style: none;
}

.search_input li {
  display: inline-block;
  color: #555;
  padding: 5px 8px;
  box-sizing: content-box;
}

.search_car {
  float: left;
  width: 150px;
  height: 36px;
  margin: 20px 0px 0px 60px;
  border: 1px solid #555;
  padding: 0px 5px;
  box-sizing: border-box;
}

.search_car a {
  display: inline-block;
  width: 46px;
  height: 28px;
  background: url('../img/cart.gif') no-repeat;
}

.search_car span {
  width: 92px;
  height: 32px;
}

.h_nav {
  clear: both;
  width: 100%;
  height: 38px;
  background: url('../img/nav_new_line.jpg') repeat-x #000;
  background-size: 100% 38px;
  overflow: hidden;
}

.h_nav ul {
  margin-top: -1px;
}

.h_nav li {
  display: inline-block;
}

.h_nav li a {
  display: block;
  color: white;
  height: 38px;
  line-height: 38px;
  box-sizing: border-box;
  padding: 0px 22px;
}

.h_nav li a:hover {
  background-color: #ed145b;
}

.content {
  width: 100%;
  height: auto;
}

.aside_bg {
  width: 100%;
  height: auto;
}

.aside_bg img {
  width: 100%;
}

.aside_bg ul {
  width: 100%;
  text-align: center;
  font-size: 0;
}

.aside_bg li {
  display: inline-block;
  width: 232px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #555;
  text-align: center;
  box-sizing: border-box;
  font-size: 22px;
}

.aside_bg li.active {
  background-color: #666;
  color: white;
}

.main {
  width: 80%;
  margin: 0px auto;
}

.day {
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.detail {
  width: 100%;
  height: 332px;
  overflow: hidden;
  position: relative;
}

.top_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-right: -462px;
  height: 62px;
  box-sizing: border-box;
  background: url('../img/top.png') no-repeat;
  overflow: hidden;
}

.top_font {
  position: absolute;
  top: 0;
  right: 0;
  width: 462px;
  height: 332px;
  padding: 0px 40px;
  box-shadow: 0 2px 4px #c5c5c5;
  box-sizing: border-box;
  font-size: 16px;
  color: #767676;
}

.top_font .font {
  line-height: 24px;
}

.top_font p:nth-child(2) {
  height: 45px;
  line-height: 45px;
}

.top_font .money {
  font-size: 30px;
}

.top_font .see {
  float: right;
  padding: 0px 22px;
  background-color: #e81a62;
  color: white;
}

.top_font p:nth-child(3) {
  height: 45px;
  line-height: 45px;
}

.top_font img {
  height: 45px;
}

.top_font .num {
  float: right;
}

.top_font .num a {
  font-size: 18px;
  color: #b9966a;
}

.detail_2 {
  margin-top: 10px;
}

.detail_2 .top_img {
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: 0px -140px;
}

.detail_3 {
  margin-top: 10px;
}

.detail_3 .top_img {
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: 0px -65px;
}
